/* Universal */
@import url("fonts.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(187, 187, 187);
}

::-webkit-scrollbar-thumb:hover {
  background: #527bdd;
}

body {
  margin-top: 68px !important;
  background-image: url("../components/assets-Page/ico/bgSection1.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

/* Addon */
.s-16 {
  font-size: 16px !important;
}
.s-18 {
  font-size: 18px !important;
}
.s-20 {
  font-size: 20px !important;
}
.s-24 {
  font-size: 24px !important;
}
.s-26 {
  font-size: 26px !important;
}
.s-32 {
  font-size: 32px !important;
}
.s-34 {
  font-size: 34px !important;
}
.s-36 {
  font-size: 36px !important;
}
.bg-color{
  background-color: red !important;
}
.color-greyDark {
  color: #4d4d4d;
}
.rounded-6 {
  border-radius: 6px !important;
}
.rounded-18 {
  border-radius: 18px !important;
}
.fontNunitoSans {
  font-family: "NunitoSans-Regular";
  letter-spacing: 0.4px !important;
  line-height: 36px !important;
  color: #4d4d4d !important;
}
.fontNunitoSans.Bold {
  font-family: "NunitoSans-Bold";
}
.fontNunitoSans.extraBold {
  font-family: "NunitoSans-ExtraBold";
}

.fontGilroy {
  font-family: "Gilroy-ExtraBold";
  letter-spacing: 0.4px !important;
  line-height: 135% !important;
  color: #1c1d4e !important;
}

/* Customize Components */
/* 
----------------------------
Navbar 
----------------------------
*/
.nav-link.active.custFont {
  font-family: "NunitoSans-Bold";
  letter-spacing: 0.4px;
  color: #5563ef !important;
}
.nav-link.custFont {
  font-family: "NunitoSans-Regular";
  letter-spacing: 0.4px;
  color: #4d4d4d !important;
}
.nav-link.custFont:hover {
  color: #5563ef !important;
}
.btn.custFont {
  font-family: "NunitoSans-Regular";
  letter-spacing: 0.4px;
  font-size: 14px;
}
.custPaddingNav {
  padding-top: 9px !important;
  padding-bottom: 9px !important;
}
.custShadowNav {
  box-shadow: 0px 4px 18px rgba(5, 5, 5, 0.1);
}
.custBtnSignin {
  width: 110px;
  border: 1px solid #5563ef !important;
  color: #5563ef !important;
}
.custBtnSignin:hover,
.custBtnSignUp:hover {
  background-color: #1f2050 !important;
  color: #fff !important;
  border: none !important;
  font-weight: bold;
}
.custBtnSignUp {
  width: 110px;
  background-color: #5563ef !important;
  color: #ffffff !important;
}
/* ---------------------- */

/* 
----------------------------
Section 1 (Header)
----------------------------
*/
.header {
  width: 100%;
  height: 715px;
}
img.customPosition {
  position: absolute;
  right: 0%;
  top: 0%;
}
.titleHeader {
  font-family: "Gilroy-ExtraBold";
  font-size: 64px;
  color: #1f2050;
  margin-top: 70px;
  line-height: 110%;
}
.textHeader span {
  color: #1f2050 !important;
}
.custBtn1 {
  width: 166px;
  height: 67px;
  color: #ffffff !important;
  background: #5563ef !important;
}
.custBtn2 {
  width: 166px;
  height: 67px;
  border: 2px solid #5563ef !important;
  color: #5563ef !important;
}
@-webkit-keyframes move1 {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes move1 {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes move2 {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes move2 {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.header img.ornamen2.imgMove {
  -webkit-animation: move2 4s infinite linear ease-in-out;
  animation: move2 4s infinite linear ;
}
.header img.ornamen4.imgMove {
  -webkit-animation: move1 4s infinite linear ease-in-out;
  animation: move1 4s infinite linear ;
}

/*  
----------------------------
Section 2 (Konten 1)
----------------------------
*/
.blogs {
  width: 100%;
  height: 650px;
}
.underline {
  width: 100%;
}
.line {
  display: inline-block;
  width: 408px;
  height: 10px;
  background: #fad6a1;
}
.bg-placeholder {
  width: 86px;
  height: 90px;
}
.blogs .card {
  width: 288px;
  background: transparent;
  border: none;
}
.card-text.custFont {
  line-height: 150% !important;
}
.ornamen1 {
  position: absolute;
  top: 35px;
  right: -15%;
}
.ornamen2 {
  position: absolute;
  top: -7%;
  right: -25%;
}
.ornamen3 {
  width: 100%;
  height: 450px;
  background: linear-gradient(162.31deg, rgba(31, 32, 80, 0.1) 12.09%, rgba(255, 255, 255, 0) 101.34%);
  backdrop-filter: blur(22px);
  border: none !important;
  outline: none !important;
  border-radius: 16px;
}
.ornamen4 {
  position: absolute;
  top: 72%;
  left: -8%;
}
.ImgBanner {
  width: auto;
}

/* Custom Responsive */
@media (max-width: 992px) {
  .titleHeader{
    font-size: 54px !important;
  }
  .textHeader{
    font-size: 18px !important;
  }
  .header form.center{
    justify-content: center;
  }
  img.customPosition {
    position: absolute;
    width: 98%;
    height: 658px !important;
    right: 0%;
    top: 0%;
  }
  section.blogs{
    height: auto;
    margin-bottom: 110px;
  }
}
@media (min-width: 992px) {
  .ps-lg-6 {
    padding-left: 4rem !important;
  }
}
