:root {
    /* color */
    --pirmaryColor: #002939;
    --secondaryColor: #DDC190;
    /* Font */
    --mainFont: 'Open Sans', sans-serif;
    --headingFont: 'Merriweather', serif;
}

@font-face {
    font-family: myFont1;
    src: url(../assets-Page/fonts/Gilroy-Bold.ttf);
}

@font-face {
    font-family: myFont2;
    src: url(../assets-Page/fonts/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: myFont3;
    src: url(../assets-Page/fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: myFont4;
    src: url(../assets-Page/fonts/NunitoSans-Light.ttf);
}

* {
    box-sizing: border-box !important;
    text-decoration: none !important;
    
}


/* pricing */
.row {}

.card-pricing {
    background-color: #5563EF;
    box-shadow: 0px 12px 45px -1px rgba(85, 99, 239, 0.5);
    border-radius: 30px;
    width: 326px;
    height: 681px;
}

.text1 {
    font-family: myFont3;
    margin-top: 100px;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: -0.32px;
    background: linear-gradient(93.2deg, #FFA800 4.28%, #F6D29F 111.74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.text12 {
    margin-top: 23px;
}

.garis {
    width: 114px;
    height: 10px;
    background-color: #FAD6A1;
    border: none;
}

.heading {
    font-family: myFont3;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 135%;
}

.span1 {
    font-family: myFont4;
    color: white;
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 52px;
    letter-spacing: -0.32px;
}

.textbox1 .harga {
    font-family: myfont4;
    display: flex;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.32px;
}

.textbox1 p {
    font-family: myFont4;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.32px;
}

.subheading1 {
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    /* or 181% */
    font-family: myFont4;
    letter-spacing: -0.32px;
    color: #FFFFFF;
}

.garis2 {
    width: 100%;
    height: 0.5px;
    border: 0.5px solid #EAEAEA;
}

.card3 {
    background-color: #FFA800;
}

.text-right {
    font-family: myFont4;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.32px;

    color: #FFFFFF;
}

.choose-plant {
    font-family: myFont3;
    width: 269.91px;
    height: 36.51px;
    background: linear-gradient(93.2deg, #FFA800 4.28%, #F7E277 111.74%) !important;
    border-radius: 12px;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height, or 117% */

    letter-spacing: -0.32px;

    /* primary color 1 */

    color: #5563EF;
}

.white-card1 {
    width: 326px;
    height: 578px;

    background: linear-gradient(180deg, rgba(91, 134, 229, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(8px 10px 105px rgba(0, 0, 0, 0.05));
    border-radius: 30px;
}

.white-card2 {
    width: 326px;
    height: 681px;

    background: linear-gradient(180deg, rgba(91, 134, 229, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(8px 10px 105px rgba(0, 0, 0, 0.05));
    border-radius: 30px;
}

.black {
    color: black;
}

.black2 {
    color: rgb(176, 176, 176);
}

.background-black {

    border: 1px solid #EAEAEA;
}

.text2 {
    width: 109px;
    height: 22px;

    font-family: myFont3;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: -0.32px;

    /* gradient3 */

    background: linear-gradient(93.2deg, #5563EF 4.28%, #1F2050 111.74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}

.choose-plant2 {

    width: 269.91px;
    height: 36.51px;

    /* gradient3 */

    background: linear-gradient(93.2deg, #5563EF 4.28%, #1F2050 111.74%);
    border-radius: 12px;

    font-size: 18px;
    line-height: 21px;
    /* identical to box height, or 117% */

    letter-spacing: -0.32px;

    color: #FFFFFF;
}

.bg-background {
    background-image: url('../assets-Page/ico/9.svg');
    width: 500px;
    height: 361px;
    background-repeat: no-repeat;
}

.mBackground {
    border-radius: 10px;
    margin-left: 0%;
    margin-top: 80px;
}

.gambarLogo {
    margin-top: 1%;
}

.memperkecil {
    width: 100px;
}

.textLogo {
    font-family: myFont3;
    margin-top: -20%;
}

.textsub {
    font-family: myFont4;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    /* or 27px */
    color: #DCDCE6;
    letter-spacing: 0.4px;
}

.textLogotop {
    color: white;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 135%;
    /* or 70px */

    letter-spacing: 0.6px;

    /* Grey / White */
}

.warnabuttonGetStarted {
    margin-left: 30%;
    margin-right: 30%;
    background: linear-gradient(93.2deg, #FFA800 4.28%, #F7E277 111.74%);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 28px;

    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    text-align: center;
    letter-spacing: 0.4px;

    /* primary color 1 */

    color: #5563EF;
}


@media screen and (min-width: 768px) {
    .bg-background {
        background-image: url('../assets-Page/ico/9.svg');
        width: 500px;
        height: 361px;
        background-repeat: no-repeat;
    }

    .mBackground {
        border-radius: 10px;
        margin-left: 14%;
        margin-top: 80px;
    }

    .gambarLogo {
        margin-right: 20px;
        margin-top: 1%;
    }

    .memperkecil {
        width: 100px;
    }

    .textLogo {
        font-family: myFont3;
        margin-top: -20%;
    }

    .textsub {
        font-family: myFont4;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 150%;
        /* or 27px */
        color: #DCDCE6;
        letter-spacing: 0.4px;
    }

    .textLogotop {
        color: white;
        font-style: normal;
        font-weight: 800;
        font-size: 28px;
        line-height: 135%;
        /* or 70px */

        letter-spacing: 0.6px;

        /* Grey / White */
    }

    .warnabuttonGetStarted {

        margin-left: 35%;
        margin-right: 35%;
    }


}

@media screen and (min-width: 992px) {

    .bg-background {

        background-image: url('../assets-Page/ico/9.svg');
        width: 1160px;
        height: 361px;
    }

    .mBackground {
        margin-left: -1%;
        margin-top: 80px;
    }

    .gambarLogo {

        margin-top: -5%;
    }

    .textLogo {
        font-family: myFont3;
        margin-top: -10%;
        margin-left: -3%;
    }

    .memperkecil {
        width: 200px;
    }

    .textLogotop {

        font-style: normal;
        font-weight: 800;
        font-size: 52px;
        line-height: 135%;
        /* or 70px */

        letter-spacing: 0.6px;

        /* Grey / White */

        color: #FFFFFF;
    }

    .textsub {
        font-family: myFont4;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        /* or 27px */
        color: #DCDCE6;
        letter-spacing: 0.4px;
    }

    .warnabuttonGetStarted {

        margin-left: 20%;
        margin-right: 57%;
    }
}

.footer {
    background-color: #5563EF;
    margin-top: 100px !important;
}

.footer .footer-brand {
    color: #fff;
    font-family: var(--headingFont);
    font-weight: 900;
    margin-left: 3%;
}

.Model4 {
    font-family: myFont4;
}

.homefooter {
    font-family: myFont4;

    font-style: normal;
    font-weight: 800;
}

.col1 a {
    color: white;
}

.icon-footer i {
    font-size: 2rem;
    color: var(--secondaryColor);
}

.col2 h3,
.col3 h3,
.col4 h3,
.col5 h3 {
    color: #fff;
    padding-bottom: 20px;
    font-family: myFont4;
    font-weight: 700;
    
}

.col2 ul li,
.col3 ul li,
.col4 ul li {
    list-style: none;
    margin: 20px 0;
    opacity: 0.7;
}

.col2 a,
.col3 a,
.col4 a {
    color: white;
}

.gambar-brand {

    width: 39px;
    height: 45.64px;
}

@media screen and (min-width: 1400px) {

    .bg-background {

        background-image: url('../assets-Page/ico/9.svg');
        width: 1160px;
        height: 361px;
    }

    .mBackground {
        margin-left: 5%;
        margin-top: 80px;
    }

    .gambarLogo {
        margin-top: -5%;
    }

    .textLogo {
        font-family: myFont3;
        margin-top: -10%;
        margin-left: -3%;
    }

    .memperkecil {
        width: 200px;
    }

    .textLogotop {

        font-style: normal;
        font-weight: 800;
        font-size: 52px;
        line-height: 135%;
        /* or 70px */

        letter-spacing: 0.6px;

        /* Grey / White */

        color: #FFFFFF;
    }

    .textsub {
        font-family: myFont4;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        /* or 27px */
        color: #DCDCE6;
        letter-spacing: 0.4px;
    }

    .warnabuttonGetStarted {

        margin-left: 20%;
        margin-right: 57%;
    }
}