@font-face {
  font-family: myFont1;
  src: url(./font/Gilroy-Black.ttf);
}
@font-face {
  font-family: myFont2;
  src: url(./font/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: myFont3;
  src: url(./font/Gilroy-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(202, 233, 245);
}

.container {
  width: 100%;
  display: flex;
  max-width: 850px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}
.login {
  width: 400px;
}
form {
  width: 250px;
  margin: 60px auto;
}
.login h1 {
  margin-top: 80px;
  font-size: 25px;
  margin-bottom: 20px;
}
h1 {
  margin: 5px;
  text-align: left;
  font-weight: bolder;
}
hr {
  border-top: 2, 5px solid rgb(235, 219, 219);
}

a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}
.right img {
  padding: 40px;
  width: 450px;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
form label {
  display: block;
  font-size: 10px;
  font-weight: 600;
  padding: 5px;
}
input {
  width: 100%;
  margin: 2px;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  background-color: #f2f5fa;
  margin-bottom: 12px;
}

.login1 button {
  border: none;
  outline: none;
  padding: 8px;
  width: 252px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 5px;
  background: #1c53f4;
}
.login1 button:hover {
  background: #91aaf5;
}

.loginGoogle button {
  border: none;
  outline: none;
  padding: 8px;
  width: 252px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 2px;
  border-color: black;
}
@media (max-width: 880px) {
  .container {
    width: 100%;
    max-width: 750px;
    margin-left: 20px;
    margin-right: 20px;
  }
  form {
    width: 300px;
    margin: 20px auto;
  }
  .login {
    width: 400px;
    padding: 20px;
  }
  button {
    width: 100%;
  }
  .right img {
    width: 100%;
    height: 100%;
    display: none;
    visibility: hidden;
  }
}
