form {
  width: 100%;
  margin-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}
.login h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

hr {
  border-top: 2, 5px solid rgb(235, 219, 219);
}

a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}
.right img {
  padding: 40px;
  width: 450px;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
form label {
  display: block;
  font-size: 10px;
  font-weight: 600;
  padding: 5px;
}
input {
  width: 100%;
  padding: 15px;
  font-size: 14px;
  border: 0;
  outline: none;
  margin-bottom: 15px;
  background-color: #f5f7ff;
  border-radius: 12px;
}
.login1 {
  display: flex;
  justify-content: center;
}
.login1 button {
  display: inline-block;
  border: none;
  outline: none;
  padding: 8px;
  width: 238px;
  height: 42px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 18px;
  background: #1c53f4;
}
.login1 button:hover {
  background: #2c55cf;
}
.daftar1 {
  display: flex;
  justify-content: center;
}
.daftar1 button {
  display: inline-block;
  border: 1px solid #1c53f4;
  outline: none;
  padding: 8px;
  width: 238px;
  height: 42px;
  color: #1c53f4;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 18px;
  background: transparent;
}
.daftar1 button:hover {
  background: #e74236;
  color: white;
  border: none;
}

.center {
  text-align: center;
}

.Title2 {
  margin-top: 400px;
}

img {
  margin-top: 35px;
  margin-left: 320px;
}

/* @media (max-width: 880px) {
  .container {
    width: 100%;
    max-width: 750px;
    margin-left: 20px;
    margin-right: 20px;
  }
  form {
    width: 300px;
    margin: 20px auto;
  }
  .login {
    width: 400px;
    padding: 20px;
  }
  button {
    width: 100%;
  }
  .right img {
    width: 100%;
    height: 100%;
    display: none;
    visibility: hidden;
  }
} */
@media screen and (max-width: 720px) {
  .column {
    width: 100%;
  }
  .banner {
    display: none;
  }
}
