@font-face {
  font-family: myFont1;
  src: url(../font/Gilroy-Bold.ttf);
}
@font-face {
  font-family: myFont2;
  src: url(../font/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: myFont3;
  src: url(../font/Gilroy-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: myFont3;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../images/bg.png);
}

.container {
  width: 100%;
  display: flex;
  box-shadow: 0px 12px 24px rgba(5, 5, 12, 0.1);
  margin: 20px;
  border-radius: 18px;
}

.font1 {
  font-family: myFont1;
}
.font2 {
  font-family: myFont2;
}
.f-24 {
  font-size: 24px;
}
.f-14 {
  font-size: 14px;
}
.f-12 {
  font-size: 12px;
}

.banner {
  background-image: url(../images/gambarBanner.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 50px;
}
.column {
  float: left;
  width: 50%;
  min-width: 440px;
  height: 510px;
  border-radius: 18px;
}
.color1 {
  color: white;
  background-color: #5563ef;
}
.color2 {
  background-color: rgb(255, 255, 255);
}
.row:after {
  content: "";
  display: table;
  clear: both;
}