@font-face {
  font-family: 'Gilroy-Black';
  src: url('../assets/fonts/Gilroy-Black.ttf');
}
@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../assets/fonts/Gilroy-Bold.ttf');
}
@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('../assets/fonts/Gilroy-ExtraBold.otf');
}
@font-face {
  font-family: 'Gilroy-Light';
  src: url('../assets/fonts/Gilroy-Light.otf');
}
@font-face {
  font-family: 'Gilroy-Medium';
  src: url('../assets/fonts/Gilroy-Medium.ttf');
}
@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('../assets/fonts/Gilroy-SemiBold.ttf');
}
@font-face {
  font-family: 'Gilroy-Regular';
  src: url('../assets/fonts/Gilroy-Regular.ttf');
}
@font-face {
  font-family: 'NunitoSans-Black';
  src: url('../assets/fonts/NunitoSans-Black.ttf');
}
@font-face {
  font-family: 'NunitoSans-Bold';
  src: url('../assets/fonts/NunitoSans-Bold.ttf');
}
@font-face {
  font-family: 'NunitoSans-ExtraBold';
  src: url('../assets/fonts/NunitoSans-ExtraBold.ttf');
}
@font-face {
  font-family: 'NunitoSans-SemiBold';
  src: url('../assets/fonts/NunitoSans-SemiBold.ttf');
}
@font-face {
  font-family: 'NunitoSans-Regular';
  src: url('../assets/fonts/NunitoSans-Regular.ttf');
}
@font-face {
  font-family: 'UniformRounded-Black';
  src: url('../assets/fonts/UniformRounded-Black.otf');
}
@font-face {
  font-family: 'UniformRounded-Bold';
  src: url('../assets/fonts/UniformRounded-Bold.otf');
}
@font-face {
  font-family: 'UniformRounded-Medium';
  src: url('../assets/fonts/UniformRounded-Medium.otf');
}
@font-face {
  font-family: 'UniformRounded-Black';
  src: url('../assets/fonts/UniformRounded-Regular.otf');
}