@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("fonts.css");
/* Universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: NunitoSans-Regular;
}

.bodyDashboard {
  margin-top: 68px !important;
  line-height: 1.5em;
  font-family: Roboto-Regular;
  font-size: 14px !important;
}

.s-14 {
  font-size: 14px !important;
}
.s-16 {
  font-size: 16px !important;
}
.s-18 {
  font-size: 18px !important;
}
.s-20 {
  font-size: 20px !important;
}
.s-22 {
  font-size: 22px !important;
}
.s-24 {
  font-size: 24px !important;
}
.s-28 {
  font-size: 26px !important;
}
.bodyFogotPassword {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: myFont3;
  background-image: url("../assets/ico/icoLogin/bg.png");
}
.content h1 {
  font-size: 28px;
  margin-bottom: 20px;
}
.customCard {
  width: 70%;
  height: 400px;
  margin: 0 auto;
  background-color: #fcfcfc;
  border-radius: 18px !important;
}

form#formLogin{
  width: 100%;
  margin-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}
.login h1 {
  font-size: 28px;
  margin-bottom: 20px;
}
#formForgotPass{
  margin-top: 32px;
}
#formForgotPass label {
  /* display: block; selalu membuat blok baru pada tampilan. 
  Elemen akan membentang dari kiri hingga ke kanan mengisi penuh lebar dari halaman browser.  */
  display: block;
  font-size: 10px;
  font-weight: 600;
  padding: 5px;
}
#formForgotPass input {
  width: 100%;
  padding: 15px;
  font-size: 14px;
  border: 1px solid transparent;
  outline: none;
  margin-bottom: 15px;
  background-color: #f5f7ff;
  border-radius: 12px;
}
#formForgotPass:invalid:focus, #passInput2:invalid:focus {
  border: 1px solid red !important;
  background-color: #f5f7ff;
}
.formInput{
  margin-bottom: 40px;
}
.custBtnForgot{
  width: 100%;
}

@media screen and (max-width: 576px) {

}
@media screen and (min-width: 576px) {

}
@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}
