@font-face {
  font-family: myFont1;
  src: url("../assets/fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: myFont2;
  src: url("../assets/fonts/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: myFont3;
  src: url("../assets/fonts/Gilroy-Regular.ttf");
}

.bodyLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: myFont3;
  background-image: url("../assets/ico/icoLogin/bg.png");
}

.formLogin {
  box-shadow: 0px 12px 24px rgba(5, 5, 12, 0.1);
}
.dropdown1 {
  border: none;
  background-color: #e7f1fc;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.font1 {
  font-family: myFont1 !important;
}
.font2 {
  font-family: myFont2 !important;
}
.f-24 {
  font-size: 24px !important;
}
.f-14 {
  font-size: 14px !important;
}
.f-12 {
  font-size: 12px !important;
}
.loginCard {
  background-color: #fcfcfc;
  border-radius: 18px !important;
}
/* .banner {
  background-image: url("../assets/ico/icoLogin/gambarBanner.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 50px;
  color: white;
  background-color: #5563ef;
} */
.banner {
  background-color: #5563ef;
  color: #fff;
}
.bannerTeacher {
  background-color: #ef5555;
  color: #fff;
}
.Side {
  min-height: 575px;
  border-radius: 18px !important;
}

form#formLogin {
  width: 100%;
  margin-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}
.login h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

#formLogin label {
  /* display: block; selalu membuat blok baru pada tampilan. 
  Elemen akan membentang dari kiri hingga ke kanan mengisi penuh lebar dari halaman browser.  */
  display: block;
  font-size: 10px;
  font-weight: 600;
  padding: 5px;
}
#formLogin input {
  width: 100%;
  padding: 15px;
  font-size: 14px;
  border: 1px solid transparent;
  outline: none;
  margin-bottom: 15px;
  background-color: #f5f7ff;
  border-radius: 12px;
}
#passInput:invalid:focus,
#passInput2:invalid:focus {
  border: 1px solid red !important;
  background-color: #f5f7ff;
}

.customSelect {
  margin-bottom: 15px;
}

.login1 {
  /* menjadi sejajar ke samping kalian bisa menambahkan property CSS display: flex */
  display: flex;
  justify-content: center;
}
.login1 button {
  /* Display yang memiliki value inline-block, memiliki karakteristik gabungan dari dua value sebelumnya yaitu, inline dan block. 
  Elemen yang memiliki nilai ini akan tampil secara inline atau sejajar/menyamping namun tiap elemen memiliki sifat value block */
  display: inline-block;
  position: relative;
  border: none;
  outline: none;
  padding: 8px;
  width: 100%;
  height: 42px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 18px;
  background: #1c53f4;
}
.login1 button:hover {
  background: #2c55cf;
}
.btnSignin {
  transition: all 0.2s;
}
.button--loading .btnSignin {
  visibility: hidden;
  opacity: 0;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

/* Daftar  */
.daftar1 {
  /* menjadi sejajar ke samping kalian bisa menambahkan property CSS display: flex */
  display: flex;
  justify-content: center;
}
.daftar1 {
  display: inline-block;
  border: 1px solid #5563ef;
  outline: none;
  padding: 8px;
  width: 100%;
  height: 42px;
  color: #5563ef;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 18px;
  background: transparent;
  margin-bottom: 20px;
}
.daftar1 button:hover {
  background: #e74236;
  color: white;
  border: none;
}

.daftar2 {
  display: inline-block;
  border: 1px solid #f5f7ff;
  outline: none;
  padding: 8px;
  width: 100%;
  height: 42px;
  color: #1d1a1a;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 18px;
  background: #f5f7ff;
  margin-bottom: 20px;
}
.daftar2:hover {
  border: 1px solid #1f2050;
  background: #ffffff;
  color: #5563ef;
}
.daftar2:hover i {
  color: #5563ef;
}
.logoGoogle {
  width: 25px;
}

.Title2 {
  /* margin-top: 400px;
   */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
}
img.LogoLogin {
  width: 120px;
  height: auto;
}

.bodyLogin input:focus {
  border: 1px solid #5563ef !important;
}

/* CSS Show/Hide Password in Login Page */
span.eye {
  position: absolute;
}
.wrapper {
  position: relative;
}
::placeholder {
  color: #9a9a9a;
  font-weight: 400;
}
span.eye {
  position: absolute;
  right: 15px;
  transform: translate(0, -50%);
  top: 60%;
  transition: 0.4s ease-in-out;
}
.fas {
  font-size: 14px;
  color: #d8d8d8;
  cursor: pointer;
}

.linkForgotPassword{
  font-size: 12px;
  display: flex;
  justify-content: end;
}