* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(187, 187, 187);
}

::-webkit-scrollbar-thumb:hover {
  background: #527bdd;
}

/* .bodyLandingPage {
  margin-top: 68px !important;
  background-image: url("../assets/ico/bgSection1.png");
  background-size: cover;
  background-repeat: no-repeat;
} */


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*  */
